* {
    margin: 0;
    padding: 0;
    
}

body{
    overflow-x: hidden;
}


#conteiner_cabecalho {

    background-color: #C680E4;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


#imagem_cabecalho img {

    width: 8dvw;
    height: 15dvh;

}

#Conteiner_informações a {

    text-decoration: none;
    padding: 15px;


}

#botao_sair {

    width: 4dvw;
    height: 3dvh;
    background-color: aqua;
    border-radius: 20px;
    text-decoration: none;


}

#botao_sair a {

    color: #850bb9;
    text-decoration: none;
}

#Conteiner_informações {

    background-color: rgb(222, 237, 249);
    width: 50%;
    height: 5dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

}

#conteiner_quiz_perguntas button {

    width: 20dvw;
    height: 4dvh;
    color: white;
    background-color: #C680E4;
    border-radius: 20px;
    justify-content: space-around;
    margin: 10px;


}

#botao_saida {

    background-color: aqua;
    width: 4dvw;
    height: 3dvh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#botao_sair_quiz {

    text-decoration: none;
    padding: 15px;
}

#Conteiner_informações a {

    text-decoration: none;
    padding: 15px;


}

#conteiner_menu {

    width: 100dvw;
    height: 84dvh;
    display: flex;
    flex-direction: column
}

#conteinerPrincipal {

    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px
}

#botao_memoria {

    background-color: #C680E4;
    color: white;
    border-radius: 15px;
    height: 5dvh;
    width: 10dvw;
    margin-top: 5dvh;
}

#conteiner_card {

    background-color: rgb(189, 217, 241);
    padding: 15px;
    width: 30dvw;
    height: 20dvh;
    margin-top: 15px;
    border-radius: 15px;
    border: solid rgb(185, 104, 197) 2px;
}

#conteiner_card:hover{

    transition: 300ms;
    box-shadow: 0px 4px 10px black;
    transform: translateY(5px) rotate(3deg);

}

#conteiner_informacoes_card {

    height: 5dvh;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#descricao_card {

    background-color: aliceblue;
    height: 5dvh;
    width: 95%;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#conteiner_ano {

    width: 28dvw;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteiner_sentimento {

    background-color: #C680E4;
    color: white;
    border-radius: 10px;
    width: 10dvw;
    height: 4dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#ano {

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.512);
}

#conteiner_menu img {

    width: 8dvw;
    height: 16dvh;
    border-radius: 15dvw;

}

#criar_card {

    display: none;
    width: 25dvw;
    height: 70dvh;
    color: rgb(14, 115, 204);
    background-color: rgba(240, 248, 255, 0.963);
    position: absolute;
    top: 8%;
    left: 35%;
    border-radius: 10px;
    padding: 30px;


}

#criar_card img {

    width: 3dvw;
    height: 5dvh;
    border-radius: 40dvh;

}

#criar_card input {

    border-color:#e29eff98;
    border-radius: 10px;
    width: 22dvw;
    height: 5dvh;


}

#criar_card select{

    border-color:#e29eff98;
    border-radius: 10px;
    width: 22dvw;
    height: 5dvh;


}


#novo_card {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #850bb9;

}

#informacoes_card p {

    color: black;
}


#informacoes_card {

    width: 25dvw;
    height: 55dvh;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 15px;
}

#botao_cancelar{

    width: 10dvw;
    height: 4dvh;
    color: black;
    border-color: aliceblue;
    border-radius: 10px;


} 

#botao_salvar{

    width: 10dvw;
    height: 4dvh;
    color: rgb(255, 255, 255);
    border-color: aliceblue;
    background-color: #b417f8;
    border-radius: 10px;

}

#botoes_card{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px ;
    gap: 20px;


}

#sair_criar{

    width: 40%;
    height: 5dvh;
    display: flex;
    justify-content: flex-end;

}

#sair_criar img{

    height: 4dvh;
    width: 2dvw;



}

#conteiner_cards{
    
    margin-top: 15px;
    width: 80dvw;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    flex-wrap: wrap;
    gap: 5dvw;


}

#conteiner_informacoes_card{
    width: 30dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#conteiner_titulosCard{
    
    width: 50dvw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

#conteiner_excluirCard{

    width: 15dvw;
    height: 10dvh;
    display: flex;
    justify-content: flex-end;
    margin-left: 14dvw;
}



    #botao_excluirCard{

        width: 100%;
        height: 4dvh;
        font-size: 10px;
        border-radius: 10px;
        color: whitesmoke;
        background-color: #b417f8;
       

}